<!DOCTYPE html>
<html dir="ltr" lang="es-ES">
<head>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<meta name="author" content="Red Ciudadana" />

	<link rel="icon" type="image/x-icon" href="/elementos/MEJORAS_ELEMENTOS/FAVICON/favicon2.png">
	<!-- Stylesheets
	============================================= -->
	<link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
	<link rel="stylesheet" href="/css/style.css" type="text/css" />

	<link rel="stylesheet" href="/css/dark.css" type="text/css" />
	<link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
	<link rel="stylesheet" href="/css/animate.css" type="text/css" />
	<link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

	<link rel="stylesheet" href="/css/custom.css" type="text/css" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<link rel="stylesheet" href="/css/colors.php?color=F9BE79" type="text/css" />

	<!-- Forum Demo Specific Stylesheet -->
	<link rel="stylesheet" href="/demos/forum/forum.css" type="text/css" /> <!-- Forum Custom Css -->
	<link rel="stylesheet" href="/demos/forum/css/fonts.css" type="text/css" /> <!-- Forum Custom Fonts -->
	<!-- / -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    {% block head %}
    {% endblock %}

</head>

<body class="stretched search-overlay">

	<!-- Document Wrapper
	============================================= -->
	<div id="wrapper" class="clearfix">

		<!-- Header
		============================================= -->
		<header id="header" class="full-header header-size-md" data-mobile-sticky="true">
			<div id="header-wrap">
				<div class="container" >				
					<div class="header-row justify-content-lg-between">

						<!-- Logo
						============================================= -->
						<div id="logo" style="margin: 1% 3%">
							<a href="/index.html" class="standard-logo"><img style="padding:5%" src="/elementos/ELEMENTOS_RIP/INOVADORES-P_LOGOTIPO.png" alt="Logo"></a>
							<a href="/index.html" class="retina-logo"><img style="padding:5%" src="/elementos/ELEMENTOS_RIP/INOVADORES-P_LOGOTIPO.png" alt="Logo"></a>
							<a href="#" class="standard-logo"><img style="padding:5%" src="/elementos/GOBIERNO.png" alt="Logo"></a>
							<a href="#" class="retina-logo"><img style="padding:5%" src="/elementos/GOBIERNO.png" alt="Logo"></a>
							<a href="https://redciudadana.org/" class="standard-logo"><img style="padding:5%" src="/elementos/RED.png" alt="Logo"></a>
							<a href="https://redciudadana.org/" class="retina-logo"><img style="padding:5%" src="/elementos/RED.png" alt="Logo"></a>
						</div><!-- #logo end -->



						<!-- Primary Navigation
						============================================= -->
						<nav class="primary-menu">


							<ul class="menu-container">
								<li class="menu-item "><a class="menu-link" href="/innovadores/index.html"><div>Innovadores</div></a></li>
								<li class="menu-item "><a class="menu-link" href="/actividades/index.html"><div>Actividades</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/mesas/index.html"><div>Grupos de Trabajo</div></a></li>
								<li class="menu-item"><a class="menu-link" href="/recursos/index.html"><div></div>Recursos</a></li>
							</ul>

						</nav><!-- #primary-menu end -->

					</div>
				</div>
			</div>
			<div class="header-wrap-clone"></div>
		</header><!-- #header end -->

		{% block content %}
        {% endblock %} 

		<footer class="main">
			<section class="section-padding footer-mid px-4" style="background:#0b2a4a!important">
				<div class="container pt-40 pb-20">
					<div class="row " style="justify-content:space-between">
						<div class="col-lg-4 col-sm-12 mb-40">
							<div class="widget-about font-md mb-md-3 mb-lg-3 mb-xl-0 wow animate__animated animate__fadeInUp" data-wow-delay="0">
								<div class="logo mb-30">
									<img src="/images/logoblanco_Mesa-de-trabajo-1.png">
								</div>
							</div>
						</div>
						<div class="footer-link-widget col-lg-4 col-sm-12 wow animate__animated animate__fadeInUp mb-40" data-wow-delay=".2s">
							<ul class="contact-infor">
								<li class="text-white mb-20"><img class="filter-white" src="/images/icon-email-2.svg" alt="" /><span class="text-white"> info@transparencia.gob.gt</span></li>
								<li class="text-white mb-20"><img class="filter-white" src="/images/icon-location.svg" alt="" /><span class="text-white"> 4ta Calle 6-17 Zona 1 Guatemala, Guatemala</span></li>
								<li class="text-white mb-20"><img class="filter-white" src="/images/icon-contact.svg" alt="" /><span class="text-white"> +502 2220-5383</span></li>
							</ul>
						</div>
					</div>
					<div class="row" style="justify-content:space-between;align-items:center">
						<div class="col-lg-3 text-center mb-40">
							<a href="https://creativecommons.org/licenses/by/4.0/"><img style="height:30px" src="/images/thumbnail_image001.png"></a>
							<p style="color:#748188!important;margin:0">Esta obra está bajo una</p>
							<a class="link-foot" href="https://creativecommons.org/licenses/by/4.0/">Licencia Creative Commons Atribución 4.0 </a>
						</div>
						<div class="col-lg-3 text-center mb-40">
							<h3 class="text-white">GAE</h3>
							<p class="text-white">Diseño 2022 por Comisión Presidencial de Gobierno Abierto y Electrónico – GAE –</p>
						</div>
						<div class="col-lg-3 text-center mb-40">
							<a href="https://prensa.gob.gt/comision-presidencial-de-gobierno-abierto-y-electronico-gae"><img style="height:60px" src="/images/sala-de-prensa-30.png"></a>
						</div>
					</div>
				</div>
			</section>
			<div class="container pb-30 wow animate__animated animate__fadeInUp px-4" data-wow-delay="0">
				<div class="row align-items-center">
					<div class="col-12 mb-30">
						<div class="footer-bottom"></div>
					</div>
					
					<div class="col-xl-8 col-lg-6 col-md-6 ">
						<div class="d-flex align-items-center">
							<p class="font-sm mb-0">Un proyecto de</p>
							<a href="https://transparencia.gob.gt/" target="_blank" rel="noopener">
								<img style="height: 50px; width:auto; margin:0 10px" src="/images/LogoGAE.png" alt="Logo de Red Ciudanana" height="60" >
							</a>
							<p>En colaboración </p>
							<a href="http://redciudadana.org/" target="_blank" rel="noopener">
								<img style="height: 50px; width:auto; margin:0 10px" src="https://d33wubrfki0l68.cloudfront.net/69cf2a5d698d1c4d2e0a0cf938a898b63223baa0/e40d9/assets/mi-guatemala/img/logo-rc-color.png" alt="Logo de Red Ciudanana" height="60" >
							</a>
							<p>Asociación Civil Red Ciudadana   </p>
						</div>
					</div>
					<div class="col-xl-4 col-lg-6 col-md-6 text-end d-none d-md-block">
						<div class="mobile-social-icon">
							<h6 style="margin:0 5px 0 0">Síguenos</h6>
							<a target="_blank" href="https://www.facebook.com/comisiongaeoficial/"><i class="fa-brands fa-facebook-f"></i></a>
							<a target="_blank" href="https://twitter.com/ComisionGAE"><i class="fa-brands fa-twitter"></i></a>
							<a target="_blank" href="https://www.instagram.com/comisiongaeoficial/"><i class="fa-brands fa-instagram"></i></a>
						</div>
					</div>
				</div>
			</div>
		</footer>

	<!-- Go To Top
	============================================= -->
	<div id="gotoTop" class="icon-angle-up"></div>

	<!-- JavaScripts
	============================================= -->
	<script src="/js/jquery.js"></script>
	<script src="/js/plugins.min.js"></script>

	<!-- TinyMCE Plugin -->
	<script src="/js/components/tinymce/tinymce.min.js"></script>

	<!-- Footer Scripts
	============================================= -->
	<script src="js/functions.js"></script>

	<script>
		jQuery(document).ready( function(){

			$('input[type="file"]').change(function(e){
				var fileName = e.target.files[0].name;
				$('.custom-file-label').html(fileName);
			});

			tinymce.init({
				selector: '#post-message',
				menubar: false,
				setup: function(editor) {
					editor.on('change', function(e) {
						editor.save();
					});
				}
			});

			$(function(){
		      if(window.location.hash) {
		          var hash = window.location.hash;
		          $(hash).modal('toggle');
		      }
		  });
		});
	</script>

	<script>
      if (window.netlifyIdentity) {
        window.netlifyIdentity.on('init', (user) => {
          if (!user) {
            window.netlifyIdentity.on('login', () => {
              document.location.href = '/admin/';
            });
          }
        });
      }
    </script>
	<script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>

    {% block body_javascripts %}

    {% endblock %}

	</body>
</html>
