---
permalink: "innovadores/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Innovadores Publicos | Innovadores</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image:url('/elementos/ELEMENTOS_RIP/SLIDER/03.png')">
			<div class="container">
				<div class="row h-100">
					<div class="col-lg-12 d-flex align-self-center flex-column justify-content-center pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<img src="/elementos/ELEMENTOS_RIP/ICONOS/ICONO-14.png"  style="z-index: 3; width:150px; align-self:center">
						<h1 style="weight:500" class="text-white text-center">Innovación</h1>
					</div>
				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap" style="padding-bottom:0">

		<!-- Nosotros
		============================================= -->

				<div class="container clearfix">
					<div class="heading-block center">
						<h2>Mesas de Trabajo</h2>
						<span>Built with passion &amp; intuitiveness in mind. Canvas is a masterclass piece of work presented to you.</span>
					</div>
                </div>

        <!-- Actividades y Podcasts
		============================================= -->

				<div class="container my-4">
					<div class="row text-center mb-5" style="justify-content:space-evenly;align-items:flex-start">
						<!--div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div-->

						<div class="row posts-md col-mb-30 col-xl-6">

							<h2 style="text-align:left;margin:1rem 0">Reuniones</h2>

							{% for reunion in collections.reuniones | reverse | limit(5) %}
					
				
							<a href="{{reunion.url}}"><div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0;;background-color:#e8f0f9!important">
								<div class="row" style=" align-items:center">
									<div class="col-xl-6 col-lg-6">
										<div class="event-img mb-20 center">
											<h3> {{reunion.data.title}}</h3>
										</div>
									</div>
									<div class="col-xl-6 col-lg-6">
										<div class="event-wrapper mb-20 " >
											<div class="event-text">
												<!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
												
											</div>
											<div class="event-meta">
												<span>{{reunion.data.date | dateFormat('DD/MM/YYYY')}}</span>
											</div><br>
										</div>
									</div>
								</div>
							</div></a>

							{% endfor %}

							<div class="mb-6" style="display:flex; justify-content:flex-end">
								<a href="/reuniones/index.html">Más Reuniones<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
				
						</div>

						<div class="row posts-md col-mb-30 col-xl-3">
							<h3 style="text-align:left;margin:1rem 0">Podcasts</h3>

							{% for podcast in collections.podcasts | reverse | limit(4)%}
							<div class="entry ">
								<div class="grid-inner">
									<iframe height="155px" src="{{podcast.data.link}}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
									<p class="txt-video">{{podcast.data.description}}</p>
								</div>
								
							</div>
							{% endfor %}

							<div class="mb-6">
								<div style="display:flex; justify-content:flex-end">
								<a href="/podcasts/index.html">Más Podcasts<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
						</div>	
						

					</div>	
				</div>
			</div>



        <!-- Podcast
		============================================= -->

				<div class="section py-6 my-6" style="background-color: #e8f0f9">
					{% if collections.podcastsHighlighted %}
					{% for podcast in collections.podcastsHighlighted | limit(1)%}
					<div class="container">
						<div class="row align-items-center col-mb-50">
							<!--div class="col-md-6">
								<img src="demos/forum/images/doc.svg" alt="Doc Image">
							</div-->
							<div class="col-md-12 text-center">
								<div class="row posts-md col-mb-30" style="align-items:center">
									
									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<span>Podcast</span>
											<h3>{{podcast.data.title}}</h3>
											<a href="" class="button button-large button-border rounded-1 fw-medium nott bg-alt2 ls0 ms-0">Suscribirse</a>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<iframe src="{{podcast.data.link}}" width="100%"
                							height="232" frameBorder="0" allowfullscreen=""
               								 allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
										</div>
									</div>

									<div class="entry col-sm-6 col-xl-4">
										<div class="grid-inner">
											<span>SUSCRÍBITE AHORA</span>
											<h3>Lorem ipsum dolor sit amet,</h3>
											<p>{{podcast.data.description}}</p>
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
					{% endfor %}
					{% endif %}
				</div>


        <!-- Directorio de Participantes
		============================================= -->

				<div class="container my-4">
					<div class="row text-center mb-5" style="justify-content:space-evenly;align-items:flex-start">
						<!--div class="col-lg-6">
							<h3 class="display-4 fw-bolder mb-3">Publicaciones</h3>
							<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi rem, facilis nobis voluptatum est voluptatem accusamus molestiae eaque perspiciatis mollitia.</p>
						</div-->

						<div class="row posts-md col-mb-30 ">

							<h2 style="text-align:left;margin:1rem 0">Directorio de Participantes</h2>

							{% for directorios in collections.directorios | reverse | limit(5) %}
                            <div class="col-xl-6 col-sm-12">
                                <div class="event-bg event-bg-03 pos-rel mb-30" style="margin:1rem 0;;background-color:#e8f0f9!important">
									<div class="row" style=" align-items:center">
										<div class="col-xl-6 col-lg-6">
											<div class="event-img mb-20 center">
												<img style="height:100%!important" src="{{directorios.data.icono}}" alt="">
											</div>
										</div>
										<div class="col-xl-6 col-lg-6">
											<div class="event-wrapper mb-20 " >
												<div class="event-text">
													<!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
													<h3> {{directorios.data.institucionp}}</h3>
												</div>
												<div class="event-meta">
													<span>{{directorios.data.nombresr}} | {{directorios.data.cargor}} | {{directorios.data.contactor}}</span>
												</div><br>
											</div>
										</div>
									</div>
								</div>
                            </div>
				
							{% endfor %}

							<div class="mb-6" style="display:flex; justify-content:flex-end">
								<a href="/eventos/index.html">Más Participantes<i class="icon-arrow-right" style="margin-left:5px"></i></a>
							</div>	
				
						</div>

						
						

					</div>	
				</div>

            </div>
        </section>

{% endblock %}