---
permalink: "innovadores/index.html"
---

{% extends "base.njk" %}

{% block head %}
<title>Innovadores Publicos | Innovadores</title>
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}

        <!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image:url('/images/red/SLIDER/INOVADORES_P-21.png');background-size:cover">
			<div class="container">
				<div class="row h-100 py-6">
					<div class="col-lg-12 d-flex align-self-center flex-column justify-content-center pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<h1 style="weight:500" class="text-white text-center">Mesas de Trabajo</h1>
					</div>
				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

        <!-- Content
		============================================= -->
		<section id="content">
			<div class="content-wrap p-0" style="padding-bottom:0">

				<!-- Reuniones y Recursos
				============================================= -->
				<div class="section py-6 m-0" style="background-color: #e6eff6">
					<div class="container">
						<div class="row col-mb-30">
							<div class="container">
								<h2 style="text-align:left;margin:1rem 0">Reuniones</h2>

								<div class="row">
									{% for reunion in collections.reuniones %}
									<div class="col-lg-6 col-sm-12">
										<a href="{{reunion.url}}">
											<div class="cuadro-actividad2">
												<div class="imagen-actividad">
													<img style="padding:0!important" src="{{reunion.data.imagen}}">
												</div>
												<div class="contenido-actividad">
													<span><img src="/images/red/ICONOS/INOVADORES_P-14.png">{{reunion.data.date | dateFormat('DD/MM/YYYY')}}</span>
													<h3>{{reunion.data.title}}</h3>
													<p>{{reunion.data.autor}}<p>
												</div>
											</div>
										</a>
									</div>
									{% endfor %}
								</div>
					
							</div>
						</div>
					</div>	
				</div>

				<div class="section py-6 m-0">
					<div class="container">
						<div class="row col-mb-30">
							<div class="container">
								<h2 style="text-align:left;margin:1rem 0">Recursos</h2>

								<div class="row">
									{% for recurso in collections.recursos | reverse | limit(3) %}
									<div class="col-lg-4 col-sm-12">
										<a target="_blank" href="{{recurso.data.enlace}}">
											<div class="cuadro-actividad">
												<div class="imagen-actividad">
													<img style="width:200px;height:80px" style="padding:0!important" src="{{recurso.data.image}}">
												</div>
												<div class="contenido-actividad">
													<span><img src="/images/red/ICONOS/INOVADORES_P-14.png">{{recurso.data.date | dateFormat('DD/MM/YYYY')}}</span>
													<h3 class="overflow-title cuadro-title">{{recurso.data.title}}</h3>
													<div class="tooltip">{{recurso.data.title}}</div>
													<p>{{recurso.data.autor}}<p>
												</div>
											</div>
										</a>
									</div>
									{% endfor %}
								</div>

								<div style="display:flex; justify-content:flex-end">
									<div class="row">
										<div class="cta-button">
											<a class="btn" href="/recursos/index.html"> Más Recursos <i class="fa fa-long-arrow-right"></i></a>
										</div>
									</div>
								</div>	
					
							</div>
						</div>
					</div>	
				</div>

			</div>

        </section>

{% endblock %}