{% extends "base.njk" %}

{% block head %}
<title>{{ title }}</title>
<link rel="stylesheet" href="/css/maingrid.css" type="text/css" />
<link rel="stylesheet" href="/css/main.css" type="text/css" />
{% endblock %}

{% block content %}
  
<!-- Slider
		============================================= -->
		<section id="slider" class="slider-element bg-color" style="background-image:url('/elementos/ELEMENTOS_RIP/SLIDER/03.png')">
			<div class="container">
				<div class="row h-100">
					<div class="col-lg-12 d-flex align-self-center flex-column justify-content-center pt-5 pb-0 py-lg-6 mb-0 my-lg-4">
						<img src="{{icono}}"  style="z-index: 3; width:150px; align-self:center">
						<h1 style="weight:500" class="text-white text-center">{{title}}</h1>
            

					</div>
				</div>
			</div>
			<!--div class="bg-alt py-5">
				<div class="container">
					<div class="d-flex">
						<h4 class="mb-0"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-users icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="12462" data-refresh-interval="150" data-speed="2000"></span> Members Registered.</span></h4>
						<h4 class="mb-0 ms-5"><span class="counter counter-inherit fw-normal text-white"><i class="icon-line-message-circle icon-fw"></i> <span class="color fw-semibold" data-from="100" data-to="340333" data-refresh-interval="100" data-speed="2000"></span> Posts Created.</span></h4>
					</div>
				</div>
			</div-->
		</section>

<!--POST-->
<div class="max-w-screen-lg mx-auto " style="margin:3rem auto; padding:0 2rem">
  <div class="grid grid-cols-4">
    <div class="col-span-full">
      <article>
        
        <header>
          <h3 style="weight:500" class=" font-bold text-4xl text-gray-800 my-4" >{{subtitle}}</h3>

        </header>

        <style>
  
          @media (max-width: 760px){
              .presponsive{
                  padding-left: 0!important;
              }
          }
  
        </style>
        
        <section class="content text-justify">
          <div class="grid grid-cols-6">
            <div class="col-span-6 md:col-span-6 ">
              {{ descripcion | safe}}
            </div>
            <div class="col-span-6 md:col-span-6 presponsive my-6" style="padding-left: 3rem;">
              <div id="disqus_thread"></div>
            </div>  
          </div>

        </section>
        
      </article>
    </div>
    <div class="col-span-full mt-6">
      <h2 class="font-bold text-xl border-b-2 border-yellow-500 mb-4 pb-4">Más Grupos</h2>
      <ul>
        {% for mesa in collections.mesas | reverse | limit(4)%}
        {% if page.url !== mesa.url %}
            <div class=" pos-rel  col-lg-12 col-xl-12" style="margin:1rem 0;">
              <div class="row  event-bg event-bg-03" style=" align-items:center;background-color:#e8f0f9!important;margin:0 1rem!important;height:100%">
                <div class="col-xl-6 col-lg-6">
                  <div class="event-img mb-20 center">
                    <img style="height:200px!important;width:auto;margin:auto" src="{{mesa.data.icono}}" alt="">
                  </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                  <div class="event-wrapper mb-20 " >
                    <div class="event-text">
                      <!--span><i class="far fa-map-marked-alt verdeo"></i> Guatemala - 8 de Septiembre 2021</span-->
                      <h3> {{mesa.data.title}}</h3>
                    </div>
                    <div class="event-meta">
                      <span><!--i class="far fa-user-circle"></i-->{{mesa.data.subtitle}}</span>
                    </div><br>
                    <div class="event-meta">
                      <div class="cta-button">
                        <a class="btn" href="{{mesa.url}}">Ver más <i class="fa fa-long-arrow-right"></i></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        {% endif %}
        {% endfor %}

      </ul>
    </div>
  </div>
</div>

{% endblock %}

{% block body_javascripts%}

  <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = {{mesa.disqus}};
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{% endblock %}